.container{
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
  color: white;

}




.body-section{
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  width: 1095px;
  position: relative;

}

.heading{
  color: white;
  background-color: #c3073f;
  height: 50px;
  padding: 10px;
  font-size: 36px;
  width: 100%;
  justify-content: center;
}


.list-element{
  border-color: white;
  display: grid;
  grid-template-columns: 20px 1fr 9fr;
  color: white;
  justify-content: center;
  top: 80px;
  margin-left: 117px;
  border: solid;
  left: 0;
  padding-left: 2px;
  padding-right: 6px;


}

.sub-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1000px;
}

.num{
  vertical-align: middle;
  text-align: center;
  padding-top: 98px;
  font-size: large;
  margin-right: 10px;
}

.image{
  width: 140px;
}

.text-section{
  display: flex;
  flex-direction: column;
}

.title{
  font-size: 36px;
}

.details{
}

.detail-heading{
  width: 100%;
  background-color: #c3073f;
  padding: 2px;
  margin-top: 7px;
  padding-bottom: 4px;
  font-size: 16px;
}

.detail-content{
  display: flex;
  flex-direction: column;
  padding: 10px;
  font-size: small;
}

.general-detail{
  color: gray;
  margin-right: 5px;


}