.community-left {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
}

.section-1 {
  display: grid;
  grid-template-rows: 30px 1fr;
  margin-bottom: 20px;
}

.new-about{
  display: block;
  text-align: left;
  font-size: larger;
  border: solid;
  padding-left: 5px;

}

.news-content {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.content-1 {
  display: flex;
  padding: 5px;
  border: solid;
  margin-top: -1px;
}

.news-img {
  width: 60px;
  margin-right: 10px;
}

.news-text {
  display: grid;
  grid-template-rows: 1fr 2fr 20px;
}

.new-heading {
  font-weight: 700;
  color: #c3073f;
  font-size: 20px;
}

.new-writeup {
  color: white;
}

.news-stats{
  font-size: smaller;
  color: #4e4e50;
}