body {
    background-color: #1A1A1D;
    padding-top: 0px;
    color: while;
    margin: 0;  
    font-family: 'Poppins', sans-serif;

}

a {
    /* Resetting styles */
    text-decoration: none; /* Remove underline */
    color: inherit; /* Inherit text color */
    background-color: transparent; /* Remove background color */
    cursor: pointer; /* Change cursor to pointer */    
    /* Additional styles */
    /* Add any additional styles you want to apply to all anchor tags */
  }

  a:hover {
    text-decoration: underline;
  }
  